---
layout: default
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    <h3>{{ page.subtitle }}</h3>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      {{ content }}
		<ul class="alt">
		  {% for post in site.posts %}
			<li>
			  <h2 style="color:#ed4933; text-transform:none;"><a href="{{ post.url }}">{{ post.title }}</a></h2>
			  <h3 style="text-transform:none;">{{ post.datestr }}, {{ post.location }}</h3>
			  <em>{{ post.excerpt }}</em>
			</li>
		  {% endfor %}
		</ul>
    </div>
  </section>

</article>
